<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sgbr">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CardapioActivity"></activity>
        <activity android:name=".ui.CategoriaCardapioActivity" />
        <activity android:name=".ui.CarrinhoComprasActivity" />
        <activity android:name=".ui.GarcomHomeActivity" />
        <activity android:name=".ui.ObservacaoActivity" />
        <activity android:name=".ui.AlterarSenhaActivity" />
        <activity android:name=".ui.CodigoRecuperarSenhaActivity" />
        <activity android:name=".ui.RecuperarSenhaActivity" />
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>