/*CSS TELA DE LOGIN*/

body {
    background-color: #345d7e;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixaLogin {
    width: 25em;
    height: 30em;
    background-color: white;
    border-radius: 10px;
}

.caixaLoginP {
    width: 100%;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    border: solid white 15px;
}

.titulo {
    padding-top: 0.5em;
}

.corBotao {
    background-color: #A64D79;
}


/*CSS TELA RECUPERAÇÂO DE SENHA*/

.titulo {
    padding-top: 0.5em;
}

.botaoForm {
    background-color: #A64D79;
    margin-left: 12.5em;
}


/*CSS TELAS WEB*/

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
}

a:active {
    color: silver;
}

.fonte {
    font-size: x-large;
}

.fontep {
    font-size: 10px;
    color: black;
}

.container {
    width: 90%;
    height: 450px;
    background-color: white;
    border: solid white 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.container2 {
    width: 95%;
    height: 400px;
    background-color: white;
    border: solid white 15px;
    border-radius: 10px;
    overflow-y: auto;
}

.containerform {
    width: 600px;
    height: 420px;
    background-color: white;
    border: solid white 15px;
    border-radius: 10px;
    /*box-shadow: 10px 10px 5px gray;*/
}

.containerformp {
    width: 100%;
    height: 500px;
    background-color: white;
    border: solid white 15px;
    border-radius: 10px;
}

.containerPedidos {
    width: 100%;
    height: 540px;
    background-color: white;
    border: solid white 15px;
    border-radius: 10px;
    overflow-y: auto;
}


/*CSS TELA DE ITENS*/

.borda {
    border: solid black 0.5px;
    height: 70px;
}

.borda2 {
    border: solid black 0.5px;
    height: 100px;
}

.botao {
    background-color: #a64d79;
    color: white;
    border: 1px solid white;
    margin-bottom: 20px;
}


/*CSS TELA DE ALTERAÇÃO DE SENHA*/

.botaoOK {
    background-color: #A64D79;
    width: 5em;
}


/*CSS TELA CADASTRO DE FUNCIONÁRIO*/

.caixaCadastro {
    width: 38em;
    height: 30em;
    background-color: white;
    border-radius: 10px;
}

.botaoCadastrar {
    background-color: #A64D79;
    margin-left: 5em;
}

.caixaCadastroP {
    width: 100%;
    height: 800px;
    background-color: white;
    border-radius: 10px;
    border: solid white 15px;
}